{% extends "../common/global.html" %}

{% block head %}
  <title>蚂蜂窝_笔记</title>
  <link rel="stylesheet" href="../../../static/css/mafengwo/mfw_02.css">
{% endblock%}

{% block body %}
 <header>
      <a class="logo"></a>
      <div class="right">
         <span>官网首页</span>
         <i></i>
      </div>
    </header>
    <section class="scroll">
        <div class="head">
          <div class="title">
            <ul>
              <li>07</li>
              <li>
                <em>2017</em>
                <em>JUL</em>
              </li>
              <li>蜂首纪念</li>
            </ul>
          </div>
          <div class="calendar">
             <a href="">
               <em>历历</em>
               <em>在目</em>
             </a>
             <i></i>
          </div>
        </div>
    </section>
{% endblock%}

